.Header {
  position: absolute;
  top: 0; left: 0; right: 0;
  h1 {
    margin: 10px 0 0 20px;

    text-shadow: 0px 2px 3px #00000066;
    font-family: 'Poiret One', cursive;
    
    @include customFont(50px, initial, initial, $accent-color);
  }
}