$vibrant-color: #E63E3E;
$vibrant-hover: #9a3535;

$accent-color: #E88989;
$accent-hover: #D16666;

$ease: all .2s ease;

@mixin flexBox($dir, $items, $just) {
  display: flex;
  flex-direction: $dir;
  align-items: $items;
  justify-content: $just;
}

@mixin customFont($size, $weight, $deco, $color) {
  font-size: $size;
  font-weight: $weight;
  text-decoration: $deco;
  color: $color;
}